.FeatureHeadline {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../images/feature-headlines-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.FeatureHeadline-content {
  z-index: 2;
  color: white;
  text-shadow: 0.5px 0.5px 4px #000000;
}
.FeatureHeadline-content h1 {
  font-weight: 600;
}
